   
    
     <div
     class="bg-image"
     style="
       background-image: url('assets/img/warzone.png');
       height: 100vh;
       
       background-repeat: no-repeat;
       background-size: cover; 
    
     "
    ></div>



    <nav>
        <div class="logo">
            <a href="index.html">Log<em>os</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

  <!--BODY SECTION !-->  
  
  
       

    
             <!---Menu Section !-->
    <section class="overlay-menu">
        <div class="container">
          <div class="row">
            <div class="main-menu">
                <ul>
                    <li>
                      <a  (click)="Tologo('logo')" routerLinkActive="active"  onmouseover="" style="cursor: pointer;">Logo</a>
                    </li>
                    <li>
                      <a  (click)="Tostream('stream')" routerLinkActive="active"  onmouseover="" style="cursor: pointer;">Stream</a>
                    </li>
                    <li>
                      <a  (click)="Tofooter('footer')" routerLinkActive="active"  onmouseover="" style="cursor: pointer;">Footer</a>
                    </li>
                </ul>
               
            </div>
          </div>
        </div>
      </section> 



