
 <footer class="footer">
    <div class="container-fluid">
        <div class="col-md-4">
        <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>


</div>
        <div class="col-md-4">
            <p>Copyright &copy; 2018 Logos 

| Designed by Faisal Zaman</p>

        </div>
        <div class="col-md-4">
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>


</div>    
</div>
</footer>